.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 7rem;
    z-index: 3;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    text-align: center;
    cursor: pointer;

    @include respond(tab-port) {
      top: 4rem;
      right: 5rem;
    }
  }

  &__background {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    position: fixed;
    top: 6.5rem;
    right: 7.5rem;
    z-index: 1;
    transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);

    @include respond(tab-port) {
      top: 4.5rem;
      right: 5.5rem;
    }
  }

  &__nav {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    opacity: 0;
    visibility: hidden;
    transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__list {
    @include center-parent;
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 220%;
      transition: background-position 0.4s, color 0.4s, transform 0.4s;
      backface-visibility: hidden;

      span {
        margin-right: 1.5rem;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  // FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(100);
  }

  &__checkbox:checked ~ &__nav {
    visibility: visible;
    opacity: 1;
    width: 100%;
  }

  // ICON
  &__icon {
    margin-top: 3rem;
    position: relative;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      transition: all 0.3s;
    }

    &::before {
      left: 0;
      bottom: 0.8rem;
    }

    &::after {
      left: 0;
      top: 0.8rem;
    }
  }

  &:hover &__icon {
    &::before {
      bottom: 1rem;
    }

    &::after {
      top: 1rem;
    }
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;

    &::before {
      bottom: 0;
      transform: rotate(135deg);
    }

    &::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }
}
